<?xml version="1.0"?>

<launch>

   <!-- Run the map server --> 
   <node name="map_server" pkg="map_server" type="map_server" args="$(find my_robot)/maps/circuit.pgm 0.05"/>

   <!--- Run AMCL --> 
   <!--<include file="$(find amcl)/examples/amcl_omni.launch" />-->
   <node pkg="amcl" type="amcl" name="amcl" output = "screen">
		<param name="tf_broadcast" value="true" />
		<param name="base_frame_id" value="base_link" />
		<param name="global_frame_id" value="map" />
		<param name="odom_frame_id" value="scanmatch_odom" />
		<param name="use_map_topic" value="true" />

		<remap from="scan" to="/scan" />
		<param name="transform_tolerance" value="0.5" />
		<param name="gui_publish_rate" value="-1.0"/>
		
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="update_min_a" value="0.5"/>
		<param name="resample_interval" value="2"/>
		<param name="transform_tolerance" value="0.5"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
   </node>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
     <!-- LOAD COSTMAP_CONVERTER PARAMETERS HERE -->
    <rosparam file="$(find my_robot)/config/costmap_converter_params.yaml" command="load" />
    <param name="clearing_rotation_allowed" value="false" />
    
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
   </node>
   
   <node pkg="self_driving" name="self_driving_converter" type="twist_to_pololu.py"/>
</launch> 
