<?xml version="1.0"?>
<launch>
   <!-- RP LIDAR NODE -->
   <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode">
       <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
       <param name="serial_baudrate"     type="int"    value="115200"/>
       <param name="frame_id"            type="string" value="laser"/>
       <param name="inverted"            type="bool"   value="false"/>
       <param name="angle_compensate"    type="bool"   value="true"/>
   </node>
   
   <!-- REALSENSE NODE -->
   
   <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>
   <!--<node pkg="my_pcl_tutorial" name="my_pcl_tutorial_node" type="my_pcl_tutorial_node" args="$(arg input)"/>-->
   <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot)/rviz/navigation.rviz"/>-->

</launch>
